*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    list-style: none;
}

header{
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}
.nav-menus a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
.nav-menus{
    display: flex;
    align-items: center;
}

/* Section fav */
.anime-movies{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#08091B, #5675A9);
}
.anime-movies .container{
    display: flex;
}
.anime-movies .my-favorite{
    margin: 10px;
    width: 400px;
    padding: 32px;
    border-radius: 16px;
    border: solid white;
    color: white;
    font-size: 2rem;
}
.anime-movies li{
    background-color: white;
    width: 100%;
    margin-top: 10px;
    color: rgba(0, 0, 0);
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
}